/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 Ιαν 2014, 4:01:38 μμ
    Author     : Jim
*/

body{
  
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  background-position: center;
}

#Header {
    
    width:230px;
    border:1px solid black;
    margin-left:auto;
    margin-right:auto;
}

#homePage {
    
    position:absolute;
    right:50px;
    top:50px;   
}
