/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Δεκ 2013, 4:16:13 μμ
    Author     : Jim
*/

body{
  
  font: 13.34px Helvetica, Arial, sans-serif;
  font-size: small;
  text-align: center;
  background-position: center;
  
}

#pinakas{
    width:300px;
    border:1px solid black;
    background-color:grey;
    margin-right:auto;
    position:absolute;
    left:50px;
    top:50px; 
}